.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPhoto {
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.login {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e6e7ee;
    text-decoration: none;
}

.button_header {
    border-radius: 5px;
    transition: .5s linear;
    cursor: pointer;
}

.button_header, .login:hover {
    background-color: gold;
}

.header_name_profile {
    color: white;
}

.header img {
    width: 50px;
    height: 50px;
}

.loginBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

.header_title {
    color: white;
    margin-left: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    font-family: "Poppins", sans-serif;

}