.loginImg {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.loginHeader {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.loginWrapper {
    padding: 20px;
    width: 100%;

}

.box {
    max-width: 700px;
    margin: 0 auto;
}

.subTitle {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
}

.link {
    font-weight: 700;
    color: #ff8f00;
}

.text {
    margin-bottom: 15px;
}

.decor {
    font-weight: 700;
}

/*//form*/

.input {
    width: 100%;
    padding: 10px;
    margin: 14px 0;
    border-radius: 5px;
    background-color: hsla(0, 0%, 86.3%, .2);
    border: 1px solid #dcdcdc;
}

.label {
    display: flex;
    margin-bottom: 25px;
}

.inputCheckbox {
    margin-left: 5px;
}

.btnLogin {
    width: 70px;
    padding: 4px;
    margin: 10px 0 10px 40px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #63a4dc;
    background-color: #63a4dc;
    box-shadow: 0 2px 1px 1px #b2b2b2;
    cursor: pointer;
}