
.app-wrapper-header{
/*  width: 1200px;*/
/*  margin: 0 auto;*/
/*  display: grid;*/
/*  grid-template-areas:*/
/*'h h'*/
/*'n c';*/
/*  grid-template-rows: 60px 1fr;*/
/*  grid-template-columns: 2fr 10fr;*/
/*  grid-gap: 10px;*/
  background-color: #32353a;
  box-shadow: 0 2px 5px #32353a;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.app-content{
  display: flex;
  min-height: 100vh;
}


